@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic");

nav,
a,
h1,
h2 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    justify-content: center;
    display: flex;
}

nav ul li a {
    text-align: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.603);
    display: block;
    padding: 12px;
}

nav a:hover {
    background-color: #111111;
}

.box {
    font-size: x-large;
}

.container1, .container3{
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;

}

.documents {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 25px;
    object-fit: scale-down;
}

div.box,
div.headshot,
.documents {
    background-color: #D3D3D3;
    margin: 0 auto;
    padding: 1em 1em 1em 1em;
    border-radius: 25px;
    text-align: center;
}

div.headshot {
    height: 400px;
    width: 320px;
    display: flex;
    border-radius: 25px;
}

h1,
h2 {
    padding: 0 5em 0 5em;
    text-align:justify;
}