#nav,
a,
h1,
h2 {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    justify-content: center;
    display: flex;
}

#nav ul li {
    float: left;
}

#nav ul li a {
    text-align: center;
    text-decoration: none;
    color: white;
    display: block;
    padding: 12px;
}

#nav a:hover {
    background-color: #111111;
}